@import url("https://use.typekit.net/ngi2oai.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gutter: 1rem;
  --base-font-size: 1rem;
}

@media screen and (min-width: theme("screens.md")) {
  :root {
    --gutter: 2rem;
    --base-font-size: 1.25rem;
  }
}

@layer base {
  .markdown p {
    @apply mb-em;
    @apply last:mb-0;
  }
}