@config "./tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gutter: 1rem;
  --base-font-size: 1rem;
}

@media screen and (min-width: theme("screens.md")) {
  :root {
    --gutter: 2rem;
    --base-font-size: 1.25rem;
  }
}